<section class="our-partners partners-logo">

    @*   <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h3> <span class="text-green"> Our Partners </span> </h3>
                @*<h3> <span class="text-green"> Partners</span> who Support us </h3>
                    <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt<br /> molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-2 text-center" style="margin:50px 0px 50px 0px;">
        <div class="card">
            <div class="card-body"><img src="~/Assets/images/partners/jaypee.png"> </div>
        </div>
    </div>
    <div class="col-md-2 text-center" style="margin:50px 0px 50px 0px;">
        <div class="card">
            <div class="card-body"><img src="~/Assets/images/partners/metro.png"> </div>
        </div>
    </div>
    <div class="col-md-4"></div>
    </div>
    </div>*@

    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h3 class="text-green">  Our Partners </h3>
                <div class="clearfix" style="margin-bottom:20px;"></div>
                @*<h3> <span class="text-green"> Partners</span> who Support us </h3>
            <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt<br /> molestias nostrum laudantium. Maiores porro cumque quaerat.</p>*@
            </div>
            <div id="owl-partners" class="owl-carousel owl-theme owl-nav">

                <div class=" ">
                    <div class="top-img"><img src="~/Assets/images/partners/blk.png" alt="" class=""></div>
                    <div class="top-text"><a href=""> BLK Super Speciality Hospital, New Delhi</a></div>

                </div>

                <div class=" ">
                    <div class="top-img"><img src="~/Assets/images/partners/fortis.png" alt="" class="img-fluid w-100"></div>
                    <div class="top-text"><a href=""> Fortis Memorial Research Institute, Gurugram</a></div>

                </div>

                <div class=" ">
                    <div class="top-img"><img src="~/Assets/images/partners/jaypee.png" alt="" class="img-fluid w-100"></div>
                    <div class="top-text"><a href=""> Jaypee Hospitals, Noida</a></div>

                </div>


                <div class=" ">
                    <div class="top-img"><img src="~/Assets/images/partners/metro.png" alt="" class="img-fluid w-100"></div>
                    <div class="top-text"><a href=""> Metro Hospital, Faridabad</a></div>

                </div>

                <div class=" ">
                    <div class="top-img"><img src="~/Assets/images/partners/qrg.png" alt="" class="img-fluid w-100"></div>
                    <div class="top-text"><a href=""> QRG Marengo Asia Network Hospital, Faridabad</a></div>

                </div>

                <div class=" ">
                    <div class="top-img"><img src="~/Assets/images/partners/amri.png" alt="" class="img-fluid w-100"></div>
                    <div class="top-text"><a href="">  AMRI Hospital, Kolkata (Dhakuria), Kolkata </a></div>

                </div>

                <div class=" ">
                    <div class="top-img"><img src="~/Assets/images/partners/amri.png" alt="" class="img-fluid w-100"></div>
                    <div class="top-text"><a href="">  AMRI Hospital, Kolkata (Dhakuria), Kolkata </a></div>

                </div>

            </div>


            </div>

            <div class="clearfix" style="margin-bottom:30px;"></div>
        </div>


</section>