
<section class="banner-area doctor-banner aboutus-banner">
    <div class="container">
        <div class="row ">

            <div class="col-md-7 text-left">
                <div class="banner-text">
                    <h1>Compnay Licence</h1>
                 
                        <h6>	We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque, voluptate. Beatae officiis neque </h6>

                </div>
            </div> 
            <div class="col-md-6 text-left">

            </div> 
        </div> 
    </div> 
</section>



<section class="treatment-sec1 workprocess">

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <h3> <span class="text-green">  Work Process</span> How it Works?</h3>
            </div>
            <div class="col-md-5">Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis.</div>
            <div class="col-md-3"><a href="/Home/Register" class="btn btn-success succes-btn">Book Appointment</a></div>
        </div>


        <div class="row mt-3">
            <div class="col-md-4">
                <div class="row best-hostpital-div">
                    <div class="col-md-3">
                        <img src="~/images/online-professional.svg">
                    </div>
                    <div class="col-md-9">
                        <h4>Search Best Online Professional</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row best-hostpital-div">
                    <div class="col-md-3">
                        <img src="~/images/get-instant-appointmemnt.svg">
                    </div>
                    <div class="col-md-9">
                        <h4>Get Instant Appointment</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row best-hostpital-div">
                    <div class="col-md-3">
                        <img src="~/images/leave-feedback.svg">
                    </div>
                    <div class="col-md-9">
                        <h4>Leave Your Feedback</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable</p>
                    </div>
                </div>
            </div>


        </div>


    </div>



</section>

<section class="treatment-sec1 Doctors-in-india hospital">

    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h3> Best <span class="text-green"> Doctors</span>in India</h3>
                <h5>Envisioning the goals & paving the path to success for the organization.</h5>
            </div>
            <div class="col-md-12">
                <div id="owl-demo2" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>DR. ASHUTOSH SINGH</h4>
                        <p>Department of Neurology</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>
                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>Dr. Amit Kumar Yadav</h4>
                        <p>Nephrology & Renal Transplantation.</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>

                    </div>

                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>Dr. Saurabh Rawall</h4>
                        <p>Department of Spine & Deformity Correction</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>

                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>Dr. Manish Gupta</h4>
                        <p>Department of Neurology</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>
                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>Dr. Amit Kumar Yadav</h4>
                        <p>Department of Neurology</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>
                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>DR. ASHUTOSH SINGH</h4>
                        <p>Department of Neurology</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="why-choose-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Why Choose <br />Talk to Treat?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. It is a long established fact that a reader will be Lorem ipsum dolor sit amet consectetur.</p>

                <div class="row best-hostpital-div">
                    <div class="col-md-2">
                        <img src="~/images/best-hospital.svg" />
                    </div>
                    <div class="col-md-8">
                        <h4>Best Hospitals with Best Quality</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <img src="~/images/best-hospital.svg" />
                    </div>
                    <div class="col-md-8">
                        <h4>Highly Professional Doctors</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-5 text-right whychoose-img"> <img src="~/images/why-choose-img.svg" /> </div>
        </div>
    </div>
</section>








<section class="need-an-emergecy">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>+91-9560960088</h4>
                <h3>Book Your   <span class="text-green"><br> Appointment Today</span></h3>
            </div>
            <div class="col-md-6 text-right"> <a href="" class="btn btn-warning ornagebutton">Get Quote</a> </div>
        </div>
    </div>
</section>



<section class="section appoinment-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="appoinment-content">

                </div>
            </div>

            @Html.Partial("~/Views/Shared/_Enquiry.cshtml", new TalkToTreat.Models.Registration())

        </div>
    </div>
</section>



<section class="treatment-sec1 testimonials" style="background:#fff;">

    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h3 class="text-green">Patient Testimonials</h3>
                <h4>We have <span class="text-orange"> Served</span> over 5000+ Patients successfully and counting</h4>
            </div>
            <div class="col-md-12">
                <div id="owl-demo3" class="owl-carousel owl-theme owl-loaded owl-drag">









                    <div class="owl-stage-outer">
                        <div class="owl-stage" style="transform: translate3d(-1088px, 0px, 0px); transition: all 0s ease 0s; width: 3627px;">
                            <div class="owl-item cloned" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi2.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi3.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi3.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi1.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi2.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item active" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi3.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi3.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi1.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi2.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div><div class="owl-item cloned" style="width: 352.667px; margin-right: 10px;">
                                <div class="item grey-bord testim-box">
                                    <div class="testim-img">
                                        <img src="/images/testi3.png">
                                    </div>
                                    <div class="testim-content">
                                        <h5>Neha Kumari</h5>
                                        <p>Cancer Treatment</p>
                                        <p>Cambodia</p>
                                        <span class="quotes1">
                                            They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam .
                                        </span>

                                        <div class="test-read"><a href="#">Read Full Story</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="owl-nav"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div>
                </div>
            </div>
        </div>
    </div>

</section>






 
