
<section class="banner-area doctor-banner aboutus-banner">
    <div class="container">
        <div class="row ">

            <div class="col-md-7 text-left">
                <div class="banner-text">
                    <h3>Surgery</h3>
                    <h1>
                        Just Make an Appointment
                        and You’re Done!</h3>
                        <h6>	We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque, voluptate. Beatae officiis neque </h6>

                </div>
            </div> 
            <div class="col-md-6 text-left">

            </div> 
        </div> 
    </div> 
</section>



<section class="treatment-sec1 workprocess">

    <div class="container">
        <div class="row mt-4">
            <div class="col-md-4">
                <h3> <span class="text-green">  Work Process</span> How it Works?</h3>
            </div>
            <div class="col-md-5">Donec rutrum congue leo eget malesuada. Nulla porttitor accumsan tincidunt. Vestibulum ante ipsum primis.</div>
            <div class="col-md-3"><a href="" class="btn btn-success succes-btn">Book Appointment</a></div>
        </div>


        <div class="row mt-3">
            <div class="col-md-4">
                <div class="row best-hostpital-div">
                    <div class="col-md-3">
                        <img src="~/images/online-professional.svg">
                    </div>
                    <div class="col-md-9">
                        <h4>Search Best Online Professional</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row best-hostpital-div">
                    <div class="col-md-3">
                        <img src="~/images/get-instant-appointmemnt.svg">
                    </div>
                    <div class="col-md-9">
                        <h4>Get Instant Appointment</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable.</p>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="row best-hostpital-div">
                    <div class="col-md-3">
                        <img src="~/images/leave-feedback.svg">
                    </div>
                    <div class="col-md-9">
                        <h4>Leave Your Feedback</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable</p>
                    </div>
                </div>
            </div>


        </div>


    </div>



</section>

<section class="treatment-sec1 Doctors-in-india hospital">

    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h3> Best <span class="text-green"> Doctors</span>in India</h3>
                <h5>Envisioning the goals & paving the path to success for the organization.</h5>
            </div>
            <div class="col-md-12">
                <div id="owl-demo2" class="owl-carousel owl-theme">
                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>DR. ASHUTOSH SINGH</h4>
                        <p>Department of Neurology</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>
                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>Dr. Amit Kumar Yadav</h4>
                        <p>Nephrology & Renal Transplantation.</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>

                    </div>

                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>Dr. Saurabh Rawall</h4>
                        <p>Department of Spine & Deformity Correction</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>

                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>Dr. Manish Gupta</h4>
                        <p>Department of Neurology</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>
                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>Dr. Amit Kumar Yadav</h4>
                        <p>Department of Neurology</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>
                    <div class="item">
                        <img src="~/images/doctor-avtar.svg">
                        <h4>DR. ASHUTOSH SINGH</h4>
                        <p>Department of Neurology</p>
                        <h5>Senior Consultant</h5>
                        <a href="#" class="book-appointment"> Book Appointment </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="why-choose-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h2>Why Choose <br />Talk to Treat?</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. It is a long established fact that a reader will be Lorem ipsum dolor sit amet consectetur.</p>

                <div class="row best-hostpital-div">
                    <div class="col-md-2">
                        <img src="~/images/best-hospital.svg" />
                    </div>
                    <div class="col-md-8">
                        <h4>Best Hospitals with Best Quality</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <img src="~/images/best-hospital.svg" />
                    </div>
                    <div class="col-md-8">
                        <h4>Highly Professional Doctors</h4>
                        <p>It is a long established fact that a reader will be distracted by the readable content.</p>
                    </div>
                </div>

            </div>
            <div class="col-md-5 text-right whychoose-img"> <img src="~/images/why-choose-img.svg" /> </div>
        </div>
    </div>
</section>



<section class="patient-care-sec">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="row patient-care-box-area about-content-area">
                    <div class="col-md-12">
                        <h3>Why did we start treattotalk.com?</h3>
                        <p>
                            At one time or another, everyone needs medical care for a serious health issue. Where is quality medical care available, and how do people get there? We started Treat to Talk to help people to resolve these issues. We consult family doctors, friends and family, and we search the Internet. We collect all of the pertinent information onto a single platform and make it available to our patients. We have combined experience of more than 50 years in healthcare, the Internet and customer service. We travel, research and assess people and places that can provide effective treatment. We bring that information to our patients so that they can focus on resolving their medical issues.
                        </p>



                        <h3>How are we different?</h3>
                        <p>
                            We carefully select all of the hospitals and doctors that you see on treattotalk.com. We talk, visit, collect pictures, stories and descriptions that will be useful to you. We provide you with 5 star services, whether we are providing you with treatment, an opinion from one of the doctors on our panel or simply with relevant information. Example of our approach to work

                        </p>


                        <h3>Price</h3>
                        <p>Naomi was looking for a knee replacement for his mother. The average quote for a single knee replacement is $5,000. Naomi’s budget was $3,500. Our Patient Account Manager researched, negotiated with hospitals, and eventually found an excellent doctor and place of treatment that met Naomi's budget.</p>

                        <h3>Alternative treatment</h3>
                        <p>Robert suffered from back pain. The doctors in his country advised surgery. Robert was reluctant to undergo surgery and discussed his concerns with us. We referred his case to doctors for a second opinion and found a doctor who was confident that he could resolve Robert’s back pain through acupuncture. The cost of his treatment and his with stay in India for a month cost Robert only 10% of the amount that he was quoted for surgery.</p>

                        <h3>Difficult to treat</h3>
                        <p>One patient suffered from schizophrenia and could not get effective help despite trying many places abroad. We referred the case to one of India’s top schizophrenia consultants. The patient was sceptical of the outcome and of the place where the patient would be admitted for rehabilitation. Our team took the patient and the guardians to the consultant’s location and ensured that they were satisfied about the care and comfort that they would receive. Suffering that had lingered for years was treated and resolved in months. We provide our patients with all available options from world renowned specialists and some hidden gems, who we know because of our deep network in the healthcare world.</p>

                    </div>


                </div>






            </div>
        </div>
    </div>
    </div>
    </div>

</section>




<section class="need-an-emergecy">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>823-4565-13456</h4>
                <h3>Book Your   <span class="text-green"><br> Appointment Today</span></h3>
            </div>
            <div class="col-md-6 text-right"> <a href="" class="btn btn-warning ornagebutton">Get Quote</a> </div>
        </div>
    </div>
</section>



<section class="section appoinment-sec">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="appoinment-content">

                </div>
            </div>

            @Html.Partial("~/Views/Shared/_Enquiry.cshtml", new TalkToTreat.Models.Registration())

        </div>
    </div>
</section>



<section class="treatment-sec1 testimonoals">

    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h4 style="color:#F57F17; font-weight:700;">CLIENTS TESTIMONIALS</h4>
                <h3>We  <span class="text-green"> Served</span>over 5000+ Patients</h3>
                <h5></h5>
            </div>
            <div class="col-md-12">
                <div id="owl-demo3" class="owl-carousel owl-theme">
                    <div class="item">

                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="~/images/testimonial1.svg">

                                <p>Neha Kumari</p>
                                <h5>Modern Service!</h5>

                            </div>
                            <div class="col-md-8">
                                <span class="quotes">
                                    They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                                </span>
                            </div>
                        </div>


                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="~/images/testimonial2.svg">

                                <p>Neha Kumari</p>
                                <h5>Modern Service!</h5>

                            </div>
                            <div class="col-md-8">
                                <span class="quotes">
                                    They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="~/images/testimonial1.svg">

                                <p>Neha Kumari</p>
                                <h5>Modern Service!</h5>

                            </div>
                            <div class="col-md-8">
                                <span class="quotes">
                                    They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <div class="row">
                            <div class="col-md-4 text-center">
                                <img src="~/images/testimonial2.svg">

                                <p>Neha Kumari</p>
                                <h5>Modern Service!</h5>

                            </div>
                            <div class="col-md-8">
                                <span class="quotes">
                                    They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat.
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>






<section class="treatment-sec1 partners-logo">

    <div class="container">
        <div class="row">

            <div class="col-md-12 text-center">
                <h3> <span class="text-green"> Partners</span> who Support us </h3>
                <p>Lets know moreel necessitatibus dolor asperiores illum possimus sint voluptates incidunt<br /> molestias nostrum laudantium. Maiores porro cumque quaerat.</p>
            </div>
            <div class="col-md-12">
                <div id="owl-demo4" class="owl-carousel owl-theme">
                    <div class="item"> <img src="~/images/partner1.svg">  </div>
                    <div class="item"> <img src="~/images/partner2.svg">  </div>
                    <div class="item"> <img src="~/images/partner3.svg">  </div>
                    <div class="item"> <img src="~/images/partner4.svg">  </div>
                    <div class="item"> <img src="~/images/partner5.svg">  </div>
                    <div class="item"> <img src="~/images/partner1.svg">  </div>
                    <div class="item"> <img src="~/images/partner2.svg">  </div>

                </div>
            </div>
        </div>
    </div>

</section>
