<!--
<section class="banner-area doctor-banner aboutus-banner">
    <div class="container">
        <div class="row ">

            <div class="col-md-7 text-left">
                <div class="banner-text">
                    <h3>Terms & Conditions</h3>
                    <h1>
                        Just Make an Appointment
                        and You’re Done!</h3>
                        <h6>We provide a wide range of creative services adipisicing elit. Autem maxime rem modi eaque, voluptate. Beatae officiis neque </h6>

                </div>
            </div>
            <div class="col-md-6 text-left">

            </div>
        </div>
    </div>
</section>
-->


<section class="treatment-sec1 workprocess">

    <div class="container">
        <div class="row">

            <div class="col-sm-12 col-md-12 col-xs-12">

                <div class="row doctor-inner-box services-box" style="margin-bottom:0px;">

                    <div class="col-md-12">

                        <h3>Terms and Conditions </h3> <br />

                        <div>

                            <p>
                                Welcome to the Talk To Treat website! Talk To Treat maintains this website (“Website”) for your personal information, education and communication. Your access to and use of this Website is subject to the following Terms of Use. Please read these Terms of Use carefully before accessing or using the Website, so that you fully understand your rights and responsibilities.
                            </p>
                            <p>
                                In the event of a medical emergency, contact your local hospital or doctor. Do not disregard or delay seeking medical advice because of content you have read on this website or advice obtained through this website. This website does not contain medical advice and we do not monitor this website or communications from this website for medical diagnostic or emergency health care purposes.

                            </p>

                            <p class="strong-f"> Your Agreement</p>
                            <p>
                                All pages within this website and any information, material, content and services made available on or through the website are provided subject to your agreement with the terms and conditions set forth below. Please read the following information carefully. Your use of this website will indicate your agreement to these terms of use. If you do not agree to these terms of use, promptly exit this website.
                                Should you choose to sign up or submit enquiry, your use of such web pages and services provided may be subject to additional terms.
                            </p>

                            <p class="strong-f">Changes to These Terms of Use</p>
                            <p>
                                Talk To Treat reserves the right to modify or amend these Terms of Use at any time. All changes will be effective immediately upon their posting. Material changes will be posted conspicuously on the Website. By accessing the Website following posting of changes to the Terms of Use, you agree to all such changes.
                            </p>

                            <p class="strong-f">Your Representations</p>
                            <p> You represent and warrant that you are at least 18 years of age and that you possess the legal right and ability to be legally bound by these Terms of Use. You agree to be responsible for your use of the Website and to comply with your responsibilities and obligations as stated in these Terms of Use.</p>
                            <p> If you are not 18 years of age, you are not permitted to use this Website and must exit now.</p>

                            <p class="strong-f"> No Medical Advice</p>
                            <p>
                                The information contained in this Website is presented for the purpose of educating consumers on health and wellness topics and providing general information on Talk To Treat. nothing contained in the website is intended to be medical advice for diagnosis or treatment and should not be relied upon as your primary source for health or medical information.
                                The information should not be considered complete and should not be relied on to suggest a course of treatment for a particular individual or used in place of a visit, call, consultation or the advice of your physician or other qualified health care provider. you should never disregard medical advice or delay in seeking it because of something you have read on the website.
                                <br />
                                
                                <strong>Information on this website is intended to augment other sources of information and should not be considered a substitute for your personal responsibility and diligence.</strong>
                                <br />
                                Information contained in the website is not exhaustive and does not cover all diseases, ailments, physical conditions or their treatment. Should you have any health care related questions, call or see your physician or other qualified health care provider promptly, or contact your local emergency services in case of an emergency. always consult with your physician or other qualified health care provider with your health care related questions, or before embarking on a new treatment, diet or fitness program.
                            </p>

                            <p class="strong-f"> Website Content</p>
                            <p>
                                Although Talk To Treat attempts to ensure the integrity and accuracy of the content on the Website, it makes no guarantees whatsoever as to the correctness or accuracy of such content. It is possible that the Website and its content could include inaccuracies or errors (human or machine), and third parties could make unauthorized additions, deletions and alterations to the Website. In the event you become aware of an inaccuracy, please inform <strong>Talk To Treat(support@talktotreat.com)</strong> so that it can be corrected.
                            </p>

                            <p class="strong-f">  Talk To Treat does not make any warranty as to the reliability, accuracy, timeliness, usefulness, adequacy, completeness or suitability of the website or any content or information contained within it.</p>
                            <p>
                                The Website content may contain health or medical related materials that you find sexually explicit or otherwise offensive. Talk To Treat accepts no responsibility for such materials. Use of the Website is at your own risk.<br /><br />
                                You may choose to use other services provided by third parties in conjunction with your access to and use of this Website. Such services may include, but are not limited to, translation services, location services, and other third-party offerings. Any links to such services are provided for your convenience only. Talk To Treat has no control over the contents of these services, and Talk To Treat accepts no responsibility for them or for any loss or damage that may arise from your use of them. Such services may require you to submit your information to a third party, which may result in a copy of your information being used and/or stored by a third party. If you decide to access any such services in conjunction with your access to and use of this Website, you do so entirely at your own risk and subject to the terms and conditions of use for such services.<br /><br />
                                Website content may be changed or updated without notice. Talk To Treat reserves the right to modify Website content without any obligation to notify past, current or prospective Website users.<br /><br />
                                Talk To Treat makes no representations that the materials on this Website are appropriate or available for use in all countries. Those who do access this Website from other states or countries are solely responsible for compliance with the laws of such state or country.<br /><br />
                                You are responsible for the accuracy of information that you submit to us via this Website. We have no obligation or liability for any information that is not accurate.
                            </p>

                            <p class="strong-f"> Restrictions on Your Use</p>
                            <p>
                                You may view material from the Website for your own personal use or the internal use of your business. You may not download, reproduce or otherwise distribute any materials on this Website without our prior express written consent and/or the consent of any third-party copyright owner.
                                <br /><br />
                                Any rights that are not expressly granted by these Terms of Use or any applicable end user license agreements are reserved by Talk To Treat.
                                <br /><br />
                                You may not use this Website or its content for any purpose prohibited or restricted by law or in violation of these Terms of Use.
                            </p>


                            <p class="strong-f"> Intellectual Property Rights</p>
                            <p>
                                The Website and its content is the property of Talk To Treat, its affiliates or its third party sources and vendors.
                            </p>

                            <p class="strong-f">No Warranty</p>
                            <p>
                                Talk To Treat cannot and does not warrant against human and machine errors, omissions, delays, interruptions or losses, including loss of data. talk to treat cannot and does not guarantee or warrant that this website will be free of infection by viruses, worms, trojan horses or other malicious code.</strong>  talk to treat does not warrant or guarantee that the functions or services performed in the web site will be uninterrupted or error-free or that defects in the website will be corrected.
                            </p>

                            <p>

                                <strong>  This website is provided "as is," with all faults, with no representations or warranties of any kind, either expressed or implied, and disclaims all such warranties including, but not limited to, the implied warranties of merchantability, fitness for a particular purpose, title, and noninfringement and all warranties arising from a course of dealing or usage in trade.</strong>

                                <strong>   Talk To Treat makes no warranty or representation regarding the results that may be obtained from use of this website, or use of material, information or data downloaded or otherwise obtained from this website, or regarding the accuracy or reliability of any information obtained from this website.</strong><br /> talk to treat does not have any responsibility for the timeliness, deletion, misdelivery or failure to store any user communication.
                            </p>

                            <p>
                                you assume total responsibility and risk for your access or use of the internet and this website. You acknowledge and agree (1) that your use of this Website and any material, information or data downloaded or otherwise obtained through the use of this Website is at your own discretion and risk, and (2) that you are solely responsible for any damage to your computer system for loss of data that results from the download of such material, information or data, and for any other form of damage that may be incurred.

                                <br /><br />No advice or information, whether oral or written, obtained by you from Talk To Treat or in any other manner from this Website creates any warranty.

                            </p>

                            <p class="strong-f">Limitation of Liability</p>
                            <p>
                                Neither talk to treat, its affiliates, nor their respective officers, directors, employees or agents are responsible or liable to you under any theory of liability or indemnity in connection with your access or use of the website or any of its content or services.
                                <br /><br />
                                Furthermore, neither talk to treat, its affiliates, nor their respective officers, directors, employees or agents are or will be liable or responsible for any direct, indirect, incidental, consequential, special, exemplary, punitive, or other damages of any kind arising out of or relating in any way to the website and/or any content on the website, whether such damages are based in tort, contract, error (human or machine), negligence, strict liability or otherwise, even if talk to treat has been advised of the possibility of such damages. your sole remedy for dissatisfaction with the site and/or any damage resulting from the site is to stop using the site, even if such remedy should fail of its essential purpose.
                                <br /><br />
                                We use reasonable effort to check the accuracy or error of the informatin on our website, identified by us or brought to our knowledge.
                                <br /><br />
                                You should, however note that we do not warrant such information will be error free.
                            </p>

                            <p class="strong-f">Indemnification</p>
                            <p>
                                You agree to indemnify, defend and hold harmless Talk To Treat, its affiliates and their respective officers, directors, employees and agents from and against all losses, expenses, liabilities, damages and costs, including without limitation reasonable legal fees, resulting from or arising from any use of the Website or its content or any violation of these Terms of Use.
                            </p>
                            <p class="strong-f">Third-Party Sites</p>
                            <p>
                                Talk To Treat has no liability for any third party website that you may access through this Website. When you access a third party website, please understand that it is independent from Talk To Treat, and that Talk To Treat has no control over the Website or its content.
                                <br /><br />

                                In addition, Talk To Treat does not endorse any third party whose Website may be linked from this Website. Talk To Treat does not and cannot ensure that the propriety, security or accuracy of any third party website and we encourage you to review the posted policies of any website that you visit.

                            </p>

                            <p class="strong-f"> Disputes, Choice of Law & Venue</p>
                            <p>
                                These Website Terms of Use are a binding agreement between you and Talk To Treat.
                                <br /><br />
                                In any action to enforce these Website Terms of Use, Talk To Treat will be entitled to all costs and legal fees it incurs.
                                <br /><br />
                                Any cause of action or claim you have regarding the Website must be commenced within one year after the claim or cause of action arises or the claim or cause of action is barred.
                            </p>

                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>



</section>

