<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Service.Properties.Settings.TalktoTreatConnectionString"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2017;Initial Catalog=TalkToTreat;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxStagingV2ConnectionString"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2017;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxCustomerRawConnectionString"
      connectionString="Data Source=BT_SHAILENDRAJA\SQLEXPRESS;Initial Catalog=OmnicxCustomerRaw;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxCustomersRawConnectionString"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2017;Initial Catalog=OmnicxCustomersRaw;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxStagingV2ConnectionString1"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2017;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxStagingV2ConnectionString2"
      connectionString="Data Source=localhost;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxStagingV2ConnectionString3"
      connectionString="Data Source=BT_AVISHEKARORA;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxStagingV2ConnectionString4"
      connectionString="Data Source=BT_AVISHEKARORA;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa;Password=axtrum@123"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxMasterConnectionString"
      connectionString="Data Source=10.0.0.7;Initial Catalog=OmnicxMaster;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxStagingV2ConnectionString5"
      connectionString="Data Source=10.0.0.7\LOCALDEV;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=ocxdev"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxStagingV2ConnectionString6"
      connectionString="Data Source=10.0.0.7;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa;Password=WXXLrYKxL2"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.OmnicxMasterConnectionString1"
      connectionString="Data Source=10.0.0.7;Initial Catalog=OmnicxMaster;Persist Security Info=True;User ID=ocxdev"
      providerName="System.Data.SqlClient" />
    <add name="Service.Properties.Settings.TalktoTreatConnectionString1"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2019;Initial Catalog=TalktoTreat;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxStagingV2ConnectionString"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2017;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxCustomerRawConnectionString"
      connectionString="Data Source=BT_SHAILENDRAJA\SQLEXPRESS;Initial Catalog=OmnicxCustomerRaw;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxCustomersRawConnectionString"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2017;Initial Catalog=OmnicxCustomersRaw;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxStagingV2ConnectionString1"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2017;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxStagingV2ConnectionString2"
      connectionString="Data Source=localhost;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxStagingV2ConnectionString3"
      connectionString="Data Source=BT_AVISHEKARORA;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxStagingV2ConnectionString4"
      connectionString="Data Source=BT_AVISHEKARORA;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa;Password=axtrum@123"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxMasterConnectionString"
      connectionString="Data Source=10.0.0.7;Initial Catalog=OmnicxMaster;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxStagingV2ConnectionString5"
      connectionString="Data Source=10.0.0.7\LOCALDEV;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=ocxdev"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxStagingV2ConnectionString6"
      connectionString="Data Source=10.0.0.7;Initial Catalog=OmnicxStagingV2;Persist Security Info=True;User ID=sa;Password=WXXLrYKxL2"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.OmnicxMasterConnectionString1"
      connectionString="Data Source=10.0.0.7;Initial Catalog=OmnicxMaster;Persist Security Info=True;User ID=ocxdev"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.TalktoTreatConnectionString"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2017;Initial Catalog=TalkToTreat;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.TalktoTreatConnectionString1"
      connectionString="Data Source=BT_AMITTHAKUR\SQL2019;Initial Catalog=TalktoTreat;Persist Security Info=True;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.TalktoTreatConnectionString2"
      connectionString="Data Source=199.79.62.22;Initial Catalog=TalktoTreat;Persist Security Info=True;User ID=talktotreat"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.talktotreatConnectionString3"
      connectionString="Data Source=Elaa-PC;Initial Catalog=talktotreat;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.TalkToTreatConnectionString4"
      connectionString="Data Source=BRICKRED54;Initial Catalog=TalkToTreat;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="TalkToTreatService.Properties.Settings.TalkToTreat_05aug_2022_AfterDeployeeConnectionString"
      connectionString="Data Source=BRICKRED54;Initial Catalog=TalkToTreat_05aug_2022_AfterDeployee;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="AppCode" value="insert the AppCode here" />
    <add key="SSOUrl" value="insert the SSOUrl here" />
    <add key="OrgApiAurl" value="insert the OrgApiAurl here" />
    <add key="AuthClientId" value="insert the AuthClientId here" />
    <add key="AuthClientSecret" value="insert the AuthClientSecret here" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <machineKey decryptionKey="insert your decryptionKey here" validation="SHA1" validationKey="insert your  validation key" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>